.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
}

/* h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
} */

.form {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputGroup {
    margin-bottom: 1rem;
}

.inputGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #add8e6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #6d95a3;
}

.error {
    color: red;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.signUpLink {
    margin-top: 1rem;
    text-align: center;
    color: #6d95a3;
}

.signintext {
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    font-weight: bold;
}